<!DOCTYPE html>
<html>
  <head>
    <title>mruby-reeves example</title>
    <link rel="stylesheet" type="text/css" href="/application.css" />
  </head>

  <body>
    <ul>
    <% @topics.each do |topic| %>
      <li><%= topic %></li>
    <% end %>
    </ul>

    <script src='/javascript/application.js'></script>
  </body>
</html>
